##Import dependencies

In [1]:
import pandas as pd
import numpy as np

##Cleaning school names from the dataset

In [2]:
df = pd.read_parquet('/content/ct_job_app_education.parquet')

In [3]:
df1=df['school_name'].fillna('').str.upper().sort_values()

In [4]:
new_list = []
for x in df1:
      new_list.append(x.strip())

df1= new_list

In [5]:
import re
def remove_punct(text):
    new_words = []
    for word in text:
        w = re.sub(r'[^\w\s]','',word) #remove everything except words and space
        w = re.sub(r'_','',w) #how to remove underscore as well
        new_words.append(w)
    return new_words

In [6]:
school_namedf = pd.DataFrame(remove_punct(df1))
#school_namedf['school_name'] = pd.DataFrame(remove_punct(df1))

In [7]:
school_namedf.replace([""," ","OTHER", "OTHERS"], np.nan, inplace=True)

In [8]:
school_namedf_na=school_namedf.dropna()

In [9]:
school_namedf_na=school_namedf_na.replace("ACCA", "ASSOCIATION OF CHARTERED CERTIFIED ACCOUNTANTS")
school_namedf_na=school_namedf_na.replace("APU", "ASIA PACIFIC UNIVERSITY OF TECHNOLOGY AND INNOVATION")
school_namedf_na=school_namedf_na.replace("AMIK", "AMIK BINA SARANA INFORMATIKAAPU")
school_namedf_na=school_namedf_na.replace("BSI", "UNIVERSITAS BINA SARANA INFORMATIKA")
school_namedf_na=school_namedf_na.replace("FKIP", "FKIP BAHASA INGGRIS")
school_namedf_na=school_namedf_na.replace("FPT", "FPT UNIVERSITY")
school_namedf_na=school_namedf_na.replace("GCUF", "GOVERNMENT COLLEGE UNIVERSITY FAISALABAD")
school_namedf_na=school_namedf_na.replace("GIKI", "GHULAM ISHAQ KHAN INSTITUTE")
school_namedf_na=school_namedf_na.replace("I3L", "INDONESIA INTERNATIONAL INSTITUTE FOR LIFE SCIENCES")
school_namedf_na=school_namedf_na.replace("IAIN", "INSTITUT AGAMA ISLAM NEGERI")
school_namedf_na=school_namedf_na.replace("IBA", "UNIVERSITY IBA")
school_namedf_na=school_namedf_na.replace("IBBI", "SEKOLAH TINGGI ILMU EKONOMI")
school_namedf_na=school_namedf_na.replace("IBM", "IBM ASMI")
school_namedf_na=school_namedf_na.replace("ICBS", "IMPERIAL COLLEGE OF BUSINESS STUDIES")
school_namedf_na=school_namedf_na.replace("IIEE", "IIEE NED UNIVERSITY OF ENGINEERING AND TECHNOLOGY")
school_namedf_na=school_namedf_na.replace("IIUM", "INTERNATIONAL ISLAMIC UNIVERSITY MALAYSIA")
school_namedf_na=school_namedf_na.replace("INTI", "INTI INTERNATIONAL COLLEGE")
school_namedf_na=school_namedf_na.replace("IPA", "INSTITUTE OF PUBLIC ADMINISTRATION")
school_namedf_na=school_namedf_na.replace("IPB", "INSTITUT PERTANIAN BOGOR")
school_namedf_na=school_namedf_na.replace("ITB", "BANDUNG INSTITUTE OF TECHNOLOGHY")
school_namedf_na=school_namedf_na.replace("ITNY", "INSTITUT TEKNOLOGI NASIONAL YOGYAKARTA")
school_namedf_na=school_namedf_na.replace("ITS", "INSTITUT SEPULUH NOPEMBER")
school_namedf_na=school_namedf_na.replace("IUMW", "INTERNATIONAL UNIVERSITY OF MALAYAWALES")
school_namedf_na=school_namedf_na.replace("KPTM", "KOLEJ POLYTECH MARA")
school_namedf_na=school_namedf_na.replace("LP31", "LP3I COLLEGE")
school_namedf_na=school_namedf_na.replace("LSC", "LONDON SCHOOL OF COMMERCE")
school_namedf_na=school_namedf_na.replace("LSPR", "LONDON SCHOOL OF PUBLIC RELATIONS")
school_namedf_na=school_namedf_na.replace("MCHM", "MALAYSIAN COLLEGE OF HOSPITALITY AND MANAGEMENT")
school_namedf_na=school_namedf_na.replace("MMU", "MULTIMEDIA UNIVERSITY")
school_namedf_na=school_namedf_na.replace("MSU", "MANAGEMENT SCIENCE UNIVERSITY")
school_namedf_na=school_namedf_na.replace("NED", "NED UNIVERSITY OF ENGINEERING AND TECHNOLOGY")
school_namedf_na=school_namedf_na.replace("NTU", "NANYANG TECHNOLOGICAL UNIVERSITY")
school_namedf_na=school_namedf_na.replace("NUS", "NATIONAL UNIVERSITY OF SINGAPORE")
school_namedf_na=school_namedf_na.replace("NUST", "NATIONAL UNIVERSITY OF SCIENCE AND TECHNOLOGY NUST")
school_namedf_na=school_namedf_na.replace("PENS", "ELECTRONIC ENGINEERING POLYTECHNIC INSTITUTE OF SURABAYA")
school_namedf_na=school_namedf_na.replace("PVU", "TRƯỜNG ĐẠI HỌC")
school_namedf_na=school_namedf_na.replace("RMIT", "ROYAL MELBOURNE INSTITUTE OF TECHNOLOGY")
school_namedf_na=school_namedf_na.replace("SEGI", "SEGI COLLEGE")
school_namedf_na=school_namedf_na.replace("STIA", "SEKOLAH TINGGI ILMU ADMINISTRASI")
school_namedf_na=school_namedf_na.replace("STIE", "SEKOLAH TINGGI ILMU EKONOMI")
school_namedf_na=school_namedf_na.replace("SWUC", "SOUTHWESTERN CHRISTIAN UNIVERSITY")
school_namedf_na=school_namedf_na.replace("UBSI", "UNIVERSITAS BINA SARANA INFORMATIKA")
school_namedf_na=school_namedf_na.replace("UCSI", "UCSI UNIVERISTY")
school_namedf_na=school_namedf_na.replace("UEF", "ĐẠI HỌC KINH TẾ QUỐC DÂN")
school_namedf_na=school_namedf_na.replace("UEH", "UNIVERSITY OF ECONOMICS HCMC")
school_namedf_na=school_namedf_na.replace("UEL", "UNIVERSITY OF EAST LONDON")
school_namedf_na=school_namedf_na.replace("UGM", "GADJAH MADA UNIVERSITY")
school_namedf_na=school_namedf_na.replace("UIAM", "UNIVERSITI ISLAM ANTARABANGSA MALAYSIA")
school_namedf_na=school_namedf_na.replace("UII", "UNIVERSITY ISLAM INDONESIA")
school_namedf_na=school_namedf_na.replace("UITM", "MARA UNIVERSITY OF TECHNOLOGY MALAYSIA")
school_namedf_na=school_namedf_na.replace("UKI", "UNIVERSITY KRISTEN INDONESIA")
school_namedf_na=school_namedf_na.replace("UKM", "NATIONAL UNIVERSITY OF MALAYSIA")
school_namedf_na=school_namedf_na.replace("UM", "UNIVERSITY OF MALAYA")
school_namedf_na=school_namedf_na.replace("UMJ", "UNIVERSITAS MUHAMMADIYAH JAKARTA")
school_namedf_na=school_namedf_na.replace("UMM", "UNIVERSITY OF MALAYA")
school_namedf_na=school_namedf_na.replace("UMP", "UNIVERSITY MALAYSIA PAHANG")
school_namedf_na=school_namedf_na.replace("UMSU", "UNIVERSITY MUHAMMADIYAH SUMATERA UTARA")
school_namedf_na=school_namedf_na.replace("UMT", "UNIVERSITI MALAYSIA TERENGGANU")
school_namedf_na=school_namedf_na.replace("UMY", "UNIVERSITY MUHAMMADIYAH YOGYAKARTA")
school_namedf_na=school_namedf_na.replace("UNS", "SEBELAS MARET UNIVERSITY")
school_namedf_na=school_namedf_na.replace("UNSW", "UNIVERSITY OF NEW SOUTH WALES")
school_namedf_na=school_namedf_na.replace("UNY", "UNIVERSITAS NEGERI YOGYAKARTA")
school_namedf_na=school_namedf_na.replace("UOL", "UNIVERSITY OF LONDON")
school_namedf_na=school_namedf_na.replace("UPH", "PELITA HARAPAN UNIVERSITY")
school_namedf_na=school_namedf_na.replace("UPI", "UNIVERSITY PENDIDIKAN INDONESIA")
school_namedf_na=school_namedf_na.replace("UPM", "UNIVERSITY PUTRA MALAYSIA")
school_namedf_na=school_namedf_na.replace("UPNM", "UNIVERSITI PERTAHANAN NASIONAL MALAYSIA")
school_namedf_na=school_namedf_na.replace("USIM", "UNIVERSITI SAINS ISLAM MALAYSIA")
school_namedf_na=school_namedf_na.replace("USM", "UNIVERSITI SAINS MALAYSIA")
school_namedf_na=school_namedf_na.replace("USU", "UNIVERSITY SUMATERA UTARA")
school_namedf_na=school_namedf_na.replace("UTAR", "UNIVERSITY TUNKU ABDUL RAHMAN")
school_namedf_na=school_namedf_na.replace("UTEM", "UNIVERSITI TEKNIKAL MALAYSIA MELAKA")
school_namedf_na=school_namedf_na.replace("UTHM", "UNIVERSITY TUN HUSSEIN ONN MALAYSIA")
school_namedf_na=school_namedf_na.replace("UTM", "UNIVERSITY TEKNOLOGI MALAYSIA")
school_namedf_na=school_namedf_na.replace("UTP", "UNIVERSITI TEKNOLOGI PETRONAS")
school_namedf_na=school_namedf_na.replace("UUM", "UNIVERSITY UTARA MALAYSIA")
school_namedf_na=school_namedf_na.replace("YAI", "AKADEMI AKUNTANSI YAI")

In [10]:
transform_list=['BINA NUNSATARA UNIVERSITY', 
                'BINA NUSANTARA', 
                'BINA NUSANTARA BINUS', 
                'BINA NUSANTARA BINUS UNIVERSITY', 
                'BINA NUSANTARA BUSINESS SCHOOL',
                'BINA NUSANTARA INTERNATIONAL UNIVERSITY',
                'BINA NUSANTARA INTERNATIONAL UNIVERSITY CBS INTERNATIONAL BUSINESS SCHOOL',
                'BINA NUSANTARA UNIVERCITY',
                'BINA NUSANTARA UNIVERISTY',
                'BINA NUSANTARA UNIVERSIRY',
                'BINA NUSANTARA UNIVERSITY',
                'BINA NUSANTARA UNIVERSITY BINUS UNIVERSITY',
                'BINA NUSANTARA UNIVERSITY BINUS']

for i in school_namedf_na:
  for i in transform_list:
    school_namedf_na=school_namedf_na.replace(i, 'BINUS UNIVERSITY')

In [11]:
#Remove string length < 5
school_namedf_na = school_namedf_na[school_namedf_na[0].str.len() > 5]
school_namedf_na

                                                       0
57                                    ANDALAS UNIVERSITY
58            ATMA JAYA CATHOLIC UNIVERSITY OF INDONESIA
59     BANDUNG POLYTECHNIC FOR MANUFACTURING  POLMAN ...
60     HO CHI MINH CITY UNIVERSITY OF TECHNOLOGY AND ...
61                         JENDERAL SOEDIRMAN UNIVERSITY
...                                                  ...
59886                                  ĐẠI HỌC CÔNG ĐOÀN
59887                          ĐẠI HỌC KINH TẾ  QUỐC DÂN
59888                        ĐẠI HỌC TÀI CHÍNH MARKETING
59889                       \tIMG SRCJAVASCRIPTALERTTEST
59890                               東洋大学 TOYO UNIVERSITY

[59630 rows x 1 columns]

In [ ]:
school_name_list = school_namedf_na.iloc[:,0].values.tolist()
school_name_list

In [ ]:
z = []
cool = []
for x in school_name_list:
  z.append(x.split())

for i in range(len(z)):
  if len(z[i]) == 0:
    continue
  
  if z[i][0].endswith('ITAS'):
    cool.append(' '.join(['UNIVERSITY'] + z[i][1:]))
  else:
    cool.append(' '.join(z[i][0:]))
cool

In [14]:
school_name = pd.DataFrame(cool)
school_name.columns=['school_name']

In [ ]:
unique_list=pd.DataFrame(school_name['school_name'].unique())
unique_list.columns=['school_names']
unique_list

In [ ]:
#Save cleaned names to a csv

unique_list.to_csv('unique_list.csv')

##Clean the scraped list of unis

In [ ]:
uniname = pd.read_csv('/content/universities_list.txt', delimiter =",", header=None, names=["uni_names"])
#listuniname = pd.DataFrame(remove_punct(listuniname))

In [ ]:
seriesuniname=uniname.squeeze()
#remove_punct(listuniname)

In [ ]:
seriesuniname

0                                                        [
1                      '"Angel Kančev" University of Ruse'
2          '"Baltazar Adam Krčelić" College of Business...
3          '"Chernorizets Hrabar"  Free University of V...
4          '"D.A. Tsenov" Academy of Economics - Svishtov'
                               ...
17345                         'Zumbi dos Palmares Faculty'
17346                              'Zunyi Medical College'
17347                               'Zunyi Normal College'
17348                                    'Zuyd University'
17349                                                    ]
Name: uni_names, Length: 17350, dtype: object

In [ ]:
new_list1 = []
for x in seriesuniname:
      new_list1.append(x.strip())

df8= new_list1

In [ ]:
uninamesnopunct=pd.DataFrame(remove_punct(df8))
uninamesnopunct

                                                       0
0
1                        Angel Kančev University of Ruse
2      Baltazar Adam Krčelić College of Business Admi...
3          Chernorizets Hrabar  Free University of Varna
4               DA Tsenov Academy of Economics  Svishtov
...                                                  ...
17345                         Zumbi dos Palmares Faculty
17346                              Zunyi Medical College
17347                               Zunyi Normal College
17348                                    Zuyd University
17349

[17350 rows x 1 columns]

In [ ]:
uninamesnopunct.replace([""], np.nan, inplace=True)
cleanuninames=uninamesnopunct.dropna()
cleanuninames.columns=['UniNames']
cleanuninames

                                                UniNames
1                        Angel Kančev University of Ruse
2      Baltazar Adam Krčelić College of Business Admi...
3          Chernorizets Hrabar  Free University of Varna
4               DA Tsenov Academy of Economics  Svishtov
5                              George Barițiu University
...                                                  ...
17344                        Zugdidi Teaching University
17345                         Zumbi dos Palmares Faculty
17346                              Zunyi Medical College
17347                               Zunyi Normal College
17348                                    Zuyd University

[17348 rows x 1 columns]

In [ ]:
#Save cleaned scraped uni list

cleanuninames.to_csv('cleanuninames.csv')