##Import dependencies

In [ ]:
import pandas as pd
import numpy as np
import pickle

##Cleaning school names from the dataset

In [ ]:
df = pd.read_parquet('/content/ct_job_app_education.parquet')

In [ ]:
df1=df['school_name'].fillna('').str.upper().sort_values()

In [ ]:
new_list = []
for x in df1:
      new_list.append(x.strip())

df1= new_list

In [ ]:
import re
def remove_punct(text):
    new_words = []
    for word in text:
        w = re.sub(r'[^\w\s]','',word) #remove everything except words and space
        w = re.sub(r'_','',w) #how to remove underscore as well
        new_words.append(w)
    return new_words

In [ ]:
school_namedf = pd.DataFrame(remove_punct(df1))
#school_namedf['school_name'] = pd.DataFrame(remove_punct(df1))

In [ ]:
school_namedf.replace([""," ","OTHER", "OTHERS"], np.nan, inplace=True)

In [ ]:
school_namedf_na=school_namedf.dropna()

In [ ]:
school_namedf_na=school_namedf_na.replace("ACCA", "ASSOCIATION OF CHARTERED CERTIFIED ACCOUNTANTS")
school_namedf_na=school_namedf_na.replace("APU", "ASIA PACIFIC UNIVERSITY OF TECHNOLOGY AND INNOVATION")
school_namedf_na=school_namedf_na.replace("AMIK", "AMIK BINA SARANA INFORMATIKAAPU")
school_namedf_na=school_namedf_na.replace("BSI", "UNIVERSITAS BINA SARANA INFORMATIKA")
school_namedf_na=school_namedf_na.replace("FKIP", "FKIP BAHASA INGGRIS")
school_namedf_na=school_namedf_na.replace("FPT", "FPT UNIVERSITY")
school_namedf_na=school_namedf_na.replace("GCUF", "GOVERNMENT COLLEGE UNIVERSITY FAISALABAD")
school_namedf_na=school_namedf_na.replace("GIKI", "GHULAM ISHAQ KHAN INSTITUTE")
school_namedf_na=school_namedf_na.replace("I3L", "INDONESIA INTERNATIONAL INSTITUTE FOR LIFE SCIENCES")
school_namedf_na=school_namedf_na.replace("IAIN", "INSTITUT AGAMA ISLAM NEGERI")
school_namedf_na=school_namedf_na.replace("IBA", "UNIVERSITY IBA")
school_namedf_na=school_namedf_na.replace("IBBI", "SEKOLAH TINGGI ILMU EKONOMI")
school_namedf_na=school_namedf_na.replace("IBM", "IBM ASMI")
school_namedf_na=school_namedf_na.replace("ICBS", "IMPERIAL COLLEGE OF BUSINESS STUDIES")
school_namedf_na=school_namedf_na.replace("IIEE", "IIEE NED UNIVERSITY OF ENGINEERING AND TECHNOLOGY")
school_namedf_na=school_namedf_na.replace("IIUM", "INTERNATIONAL ISLAMIC UNIVERSITY MALAYSIA")
school_namedf_na=school_namedf_na.replace("INTI", "INTI INTERNATIONAL COLLEGE")
school_namedf_na=school_namedf_na.replace("IPA", "INSTITUTE OF PUBLIC ADMINISTRATION")
school_namedf_na=school_namedf_na.replace("IPB", "INSTITUT PERTANIAN BOGOR")
school_namedf_na=school_namedf_na.replace("ITB", "BANDUNG INSTITUTE OF TECHNOLOGHY")
school_namedf_na=school_namedf_na.replace("ITNY", "INSTITUT TEKNOLOGI NASIONAL YOGYAKARTA")
school_namedf_na=school_namedf_na.replace("ITS", "INSTITUT SEPULUH NOPEMBER")
school_namedf_na=school_namedf_na.replace("IUMW", "INTERNATIONAL UNIVERSITY OF MALAYAWALES")
school_namedf_na=school_namedf_na.replace("KPTM", "KOLEJ POLYTECH MARA")
school_namedf_na=school_namedf_na.replace("LP31", "LP3I COLLEGE")
school_namedf_na=school_namedf_na.replace("LSC", "LONDON SCHOOL OF COMMERCE")
school_namedf_na=school_namedf_na.replace("LSPR", "LONDON SCHOOL OF PUBLIC RELATIONS")
school_namedf_na=school_namedf_na.replace("MCHM", "MALAYSIAN COLLEGE OF HOSPITALITY AND MANAGEMENT")
school_namedf_na=school_namedf_na.replace("MMU", "MULTIMEDIA UNIVERSITY")
school_namedf_na=school_namedf_na.replace("MSU", "MANAGEMENT SCIENCE UNIVERSITY")
school_namedf_na=school_namedf_na.replace("NED", "NED UNIVERSITY OF ENGINEERING AND TECHNOLOGY")
school_namedf_na=school_namedf_na.replace("NTU", "NANYANG TECHNOLOGICAL UNIVERSITY")
school_namedf_na=school_namedf_na.replace("NUS", "NATIONAL UNIVERSITY OF SINGAPORE")
school_namedf_na=school_namedf_na.replace("NUST", "NATIONAL UNIVERSITY OF SCIENCE AND TECHNOLOGY NUST")
school_namedf_na=school_namedf_na.replace("PENS", "ELECTRONIC ENGINEERING POLYTECHNIC INSTITUTE OF SURABAYA")
school_namedf_na=school_namedf_na.replace("PVU", "TRƯỜNG ĐẠI HỌC")
school_namedf_na=school_namedf_na.replace("RMIT", "ROYAL MELBOURNE INSTITUTE OF TECHNOLOGY")
school_namedf_na=school_namedf_na.replace("SEGI", "SEGI COLLEGE")
school_namedf_na=school_namedf_na.replace("STIA", "SEKOLAH TINGGI ILMU ADMINISTRASI")
school_namedf_na=school_namedf_na.replace("STIE", "SEKOLAH TINGGI ILMU EKONOMI")
school_namedf_na=school_namedf_na.replace("SWUC", "SOUTHWESTERN CHRISTIAN UNIVERSITY")
school_namedf_na=school_namedf_na.replace("UBSI", "UNIVERSITAS BINA SARANA INFORMATIKA")
school_namedf_na=school_namedf_na.replace("UCSI", "UCSI UNIVERISTY")
school_namedf_na=school_namedf_na.replace("UEF", "ĐẠI HỌC KINH TẾ QUỐC DÂN")
school_namedf_na=school_namedf_na.replace("UEH", "UNIVERSITY OF ECONOMICS HCMC")
school_namedf_na=school_namedf_na.replace("UEL", "UNIVERSITY OF EAST LONDON")
school_namedf_na=school_namedf_na.replace("UGM", "GADJAH MADA UNIVERSITY")
school_namedf_na=school_namedf_na.replace("UIAM", "UNIVERSITI ISLAM ANTARABANGSA MALAYSIA")
school_namedf_na=school_namedf_na.replace("UII", "UNIVERSITY ISLAM INDONESIA")
school_namedf_na=school_namedf_na.replace("UITM", "MARA UNIVERSITY OF TECHNOLOGY MALAYSIA")
school_namedf_na=school_namedf_na.replace("UKI", "UNIVERSITY KRISTEN INDONESIA")
school_namedf_na=school_namedf_na.replace("UKM", "NATIONAL UNIVERSITY OF MALAYSIA")
school_namedf_na=school_namedf_na.replace("UM", "UNIVERSITY OF MALAYA")
school_namedf_na=school_namedf_na.replace("UMJ", "UNIVERSITAS MUHAMMADIYAH JAKARTA")
school_namedf_na=school_namedf_na.replace("UMM", "UNIVERSITY OF MALAYA")
school_namedf_na=school_namedf_na.replace("UMP", "UNIVERSITY MALAYSIA PAHANG")
school_namedf_na=school_namedf_na.replace("UMSU", "UNIVERSITY MUHAMMADIYAH SUMATERA UTARA")
school_namedf_na=school_namedf_na.replace("UMT", "UNIVERSITI MALAYSIA TERENGGANU")
school_namedf_na=school_namedf_na.replace("UMY", "UNIVERSITY MUHAMMADIYAH YOGYAKARTA")
school_namedf_na=school_namedf_na.replace("UNS", "SEBELAS MARET UNIVERSITY")
school_namedf_na=school_namedf_na.replace("UNSW", "UNIVERSITY OF NEW SOUTH WALES")
school_namedf_na=school_namedf_na.replace("UNY", "UNIVERSITAS NEGERI YOGYAKARTA")
school_namedf_na=school_namedf_na.replace("UOL", "UNIVERSITY OF LONDON")
school_namedf_na=school_namedf_na.replace("UPH", "PELITA HARAPAN UNIVERSITY")
school_namedf_na=school_namedf_na.replace("UPI", "UNIVERSITY PENDIDIKAN INDONESIA")
school_namedf_na=school_namedf_na.replace("UPM", "UNIVERSITY PUTRA MALAYSIA")
school_namedf_na=school_namedf_na.replace("UPNM", "UNIVERSITI PERTAHANAN NASIONAL MALAYSIA")
school_namedf_na=school_namedf_na.replace("USIM", "UNIVERSITI SAINS ISLAM MALAYSIA")
school_namedf_na=school_namedf_na.replace("USM", "UNIVERSITI SAINS MALAYSIA")
school_namedf_na=school_namedf_na.replace("USU", "UNIVERSITY SUMATERA UTARA")
school_namedf_na=school_namedf_na.replace("UTAR", "UNIVERSITY TUNKU ABDUL RAHMAN")
school_namedf_na=school_namedf_na.replace("UTEM", "UNIVERSITI TEKNIKAL MALAYSIA MELAKA")
school_namedf_na=school_namedf_na.replace("UTHM", "UNIVERSITY TUN HUSSEIN ONN MALAYSIA")
school_namedf_na=school_namedf_na.replace("UTM", "UNIVERSITY TEKNOLOGI MALAYSIA")
school_namedf_na=school_namedf_na.replace("UTP", "UNIVERSITI TEKNOLOGI PETRONAS")
school_namedf_na=school_namedf_na.replace("UUM", "UNIVERSITY UTARA MALAYSIA")
school_namedf_na=school_namedf_na.replace("YAI", "AKADEMI AKUNTANSI YAI")

In [ ]:
transform_list=['BINA NUNSATARA UNIVERSITY', 
                'BINA NUSANTARA', 
                'BINA NUSANTARA BINUS', 
                'BINA NUSANTARA BINUS UNIVERSITY', 
                'BINA NUSANTARA BUSINESS SCHOOL',
                'BINA NUSANTARA INTERNATIONAL UNIVERSITY',
                'BINA NUSANTARA INTERNATIONAL UNIVERSITY CBS INTERNATIONAL BUSINESS SCHOOL',
                'BINA NUSANTARA UNIVERCITY',
                'BINA NUSANTARA UNIVERISTY',
                'BINA NUSANTARA UNIVERSIRY',
                'BINA NUSANTARA UNIVERSITY',
                'BINA NUSANTARA UNIVERSITY BINUS UNIVERSITY',
                'BINA NUSANTARA UNIVERSITY BINUS']

for i in school_namedf_na:
  for i in transform_list:
    school_namedf_na=school_namedf_na.replace(i, 'BINUS UNIVERSITY')

In [ ]:
#Remove string length < 5
school_namedf_na = school_namedf_na[school_namedf_na[0].str.len() > 5]
school_namedf_na

In [ ]:
school_name_list = school_namedf_na.iloc[:,0].values.tolist()
school_name_list

In [ ]:
z = []
cool = []
for x in school_name_list:
  z.append(x.split())

for i in range(len(z)):
  if len(z[i]) == 0:
    continue
  
  if z[i][0].endswith('ITAS'):
    cool.append(' '.join(['UNIVERSITY'] + z[i][1:]))
  else:
    cool.append(' '.join(z[i][0:]))
cool

In [ ]:
school_name = pd.DataFrame(cool)
school_name.columns=['school_name']

In [ ]:
unique_list=pd.DataFrame(school_name['school_name'].unique())
unique_list.columns=['school_names']
unique_list

In [ ]:
#Save cleaned names to a csv

unique_list.to_csv('unique_list.csv')

##Clean the scraped list of unis

In [ ]:
uniname = pd.read_csv('/content/universities_list.txt', delimiter =",", header=None, names=["uni_names"])
#listuniname = pd.DataFrame(remove_punct(listuniname))

In [ ]:
seriesuniname=uniname.squeeze()
#remove_punct(listuniname)

In [ ]:
seriesuniname

In [ ]:
new_list1 = []
for x in seriesuniname:
      new_list1.append(x.strip())

df8= new_list1

In [ ]:
uninamesnopunct=pd.DataFrame(remove_punct(df8))
uninamesnopunct

In [ ]:
uninamesnopunct.replace([""], np.nan, inplace=True)
cleanuninames=uninamesnopunct.dropna()
cleanuninames.columns=['UniNames']
cleanuninames

In [ ]:
#Save cleaned scraped uni list

cleanuninames.to_csv('cleanuninames.csv')

#Use FuzzyWuzzy only, to match dataset names with list names

##FuzzyWuzzy matching the dataset names with scraped list

In [ ]:
!pip install fuzzywuzzy
!pip install python-Levenshtein

In [ ]:
from fuzzywuzzy import fuzz
from tqdm import tqdm

In [ ]:
data1=unique_list.copy()
data2=cleanuninames.copy()
name_match = []

In [ ]:
df1_names = list(unique_list.school_names)
df2_match = list(cleanuninames.UniNames)

In [ ]:
#Defining a function to return the match and similarity score of the fuzz.ratio() scorer. 
#The function will take in a term(name), list of terms(list_names), and a minimum similarity score(min_score) to return the match. 

def match_names(name, list_names, min_score=0):
  max_score=-1
  max_name=''
  for x in list_names:
    score=fuzz.token_sort_ratio(name, x)
    if (score > min_score) & (score > max_score):
      max_name = x
      max_score = score
  return (max_name, max_score)

In [ ]:
#For loop to create a list of tuples with the first value being the name from the 
#second dataframe (name to replace) and the second value from the 
#first dataframe (string replacing the name value). Then, casting the list of tuples as a dictionary. 

names = []
for x in tqdm(df1_names):
  match = match_names(x, df2_match, 75)
  if match[1] >=75:
    name = (str(x), str(match[0]))
    names.append(name)
    
name_dict=dict(names)
name_dict

In [ ]:
name_dict.keys()

In [ ]:
#data10=data1["school_names"].map(name_dict)
data10=pd.DataFrame(data1["school_names"].map(name_dict)) #mapping together unique list with the dict
data10

In [ ]:
fuzz.token_sort_ratio('UNIVERSITY OF KENT','Kent University')

In [ ]:
#Save dict to a file
dictionary = name_dict
  
try:
    geeky_file = open('/content/name_dict.txt', 'wt')
    geeky_file.write(str(dictionary))
    geeky_file.close()
  
except:
    print("Unable to write to file")

##Reading dict .txt files saved from previous run

In [ ]:
# importing the module
import ast
  
# reading the data from the file
with open('/content/name_dict.txt') as f:
    data = f.read()
  
print("Data type before reconstruction : ", type(data))
      
# reconstructing the data as a dictionary
name_dict = ast.literal_eval(data)
  
print("Data type after reconstruction : ", type(name_dict))
print(name_dict)

##Checking Fuzzy list with unique_list

I overwrote over this code. Didn't fix it. But it was meant to map Fuzzy Wuzzy list together with the unique list.

In [ ]:
#data10=data1["school_names"].map(name_dict)
data60=pd.DataFrame(deduplipydf["school_names"].map(d_60))
data60

In [ ]:
compared_60 = pd.concat([deduplipydf, data60], axis=1, join='inner')
compared_60

In [ ]:
compared_60.to_csv("combined_65-5.1k.csv")

#Deduplipy attempt

##Deduplipy for clustering school names of dataset

In [ ]:
#https://deduplipy.readthedocs.io/en/latest/api/deduplicator.html
!pip install deduplipy

In [ ]:
from deduplipy.deduplicator import Deduplicator
from thefuzz.fuzz import ratio, partial_ratio, token_set_ratio, token_sort_ratio

In [ ]:
#try with uninames with list
data1=unique_list.copy()
data2=cleanuninames.copy()
data2=data2.rename(columns={'UniNames': 'school_names'})
df_predict=pd.concat([data1, data2], ignore_index=True)

#Couldn't use this before, used too much RAM and crashed

In [ ]:
#df_train=cleanuninames.copy()
df_predict=unique_list.copy()

In [ ]:
field_info = {'school_names':[token_set_ratio,token_sort_ratio]}

In [ ]:
myDedupliPy = Deduplicator(field_info=field_info, interaction=True, verbose=1)

In [ ]:
myDedupliPy.fit(df_predict)

In [ ]:
# save the model to disk

filename = 'dedupmodel.sav'
pickle.dump(myDedupliPy, open(filename, 'wb'))

In [ ]:
# load the model from disk

myDedupliPy = pickle.load(open(filename, 'rb'))

In [ ]:
res = myDedupliPy.predict(df_predict, score_threshold=0.1)
res.sort_values('deduplication_id')

In [ ]:
res.nunique()

In [ ]:
res.to_csv('deduplipy.csv')

##Reading Deduplipy CSV of clusters and match using FuzzyWuzzy with the scraped uni list

In [ ]:
deduplipydf = pd.read_csv('/content/deduplipy.csv', usecols= ['school_names','deduplication_id'])

In [ ]:
deduplipydf

In [ ]:
deduplipydf1=deduplipydf.groupby('deduplication_id').head(1)

In [ ]:
df1_names = list(deduplipydf1.school_names)
df2_match = list(cleanuninames.UniNames)

In [ ]:
#Defining a function to return the match and similarity score of the fuzz.ratio() scorer. 
#The function will take in a term(name), list of terms(list_names), and a minimum similarity score(min_score) to return the match. 

def match_names(name, list_names, min_score=0):
  max_score=-1
  max_name=''
  for x in list_names:
    score=fuzz.token_sort_ratio(name, x)
    if (score > min_score) & (score > max_score):
      max_name = x
      max_score = score
  return (max_name, max_score)

In [ ]:
#For loop to create a list of tuples with the first value being the name from the 
#second dataframe (name to replace) and the second value from the 
#first dataframe (string replacing the name value). Then, casting the list of tuples as a dictionary. 

names = []
for x in tqdm(df1_names):
  match = match_names(x, df2_match, 71)
  if match[1] >= 72:
    name = (str(x), str(match[0]))
    names.append(name)
    
dedup_name_dict=dict(names)
dedup_name_dict

In [ ]:
#Save dict to a file
dictionary = dedup_name_dict
  
try:
    geeky_file = open('/content/dedup_name_dict.txt', 'wt')
    geeky_file.write(str(dictionary))
    geeky_file.close()
  
except:
    print("Unable to write to file")

#Putting back with whole database with matched names

##Putting it back into the whole database

In [ ]:
#import the dict files
##########
# importing the module
import ast
  
# reading the data from the file
with open('/content/dedup_name_dict.txt') as f:
    data = f.read()
  
print("Data type before reconstruction : ", type(data))
      
# reconstructing the data as a dictionary
dedup_name_dict = ast.literal_eval(data)
  
print("Data type after reconstruction : ", type(dedup_name_dict))
print(dedup_name_dict)

In [ ]:
#Map the dict to the whole unique list

whole_unique_list=pd.DataFrame(deduplipydf["school_names"].map(dedup_name_dict))
whole_unique_list

In [ ]:
#Use this if not from file, straight from name_dict variable
whole_unique_list=pd.DataFrame(deduplipydf["school_names"].map(dedup_name_dict))
whole_unique_list

In [ ]:
#Combine together with uninames + dedup id + newname from unilist

compared_df = pd.concat([deduplipydf, whole_unique_list], axis=1, join='inner')
compared_df

In [ ]:
#To put the new names with the correct dedup_id

compared_df.columns = ['school_names', 'dedup_id', 'new_name']
compared_df=compared_df.drop(['school_names'], axis = 1)
compared_df.columns = ['dedup_id', 'school_names']

In [ ]:
compared_df

In [ ]:
#Taking back the df before taking unique values 
#Added 1 more column to assign dedup ID into it

school_namedf_na.columns = ['school_names']
school_namedf_na['deduplication_id'] = 0

In [ ]:
#To put dedup_id with whole list

df1 = school_namedf_na.set_index('school_names')
df2 = deduplipydf.set_index('school_names')
df1.update(df2)
df1.reset_index(inplace=True)

In [ ]:
df1

In [ ]:
df1 = df1.astype({"deduplication_id": int})

In [ ]:
#Drop those with dedup ID = 0, was cleaned out and not required for deduplipy

df1.drop(df1[df1['deduplication_id'] < 1].index, inplace = True)

In [ ]:
df1

In [ ]:
compared_df.info()

In [ ]:
compared_df=compared_df.dropna()

In [ ]:
#df1 = df1.set_index('Name')
#df2 = df2.set_index('Name')
#df1.update(df2)
#df1.reset_index(inplace=True)

df1 = df1.set_index('deduplication_id')
df2 = compared_df.set_index('dedup_id')
df1.update(df2)
df1.reset_index(inplace=True)

In [ ]:
df1

In [ ]:
df1.to_csv("newuninames.csv")

##Check new uni names

In [ ]:
df1['school_names'].value_counts().head(30).plot(kind='bar',figsize=(15,10))

#Leftover code

##Character count, accronyms for cleaning

In [ ]:
unique_list['char_count'] = unique_list['school_name'].str.len()
unique_list

In [ ]:
unique_list[unique_list.char_count < 5]

In [ ]:
#AMIK = AMIK BINA SARANA INFORMATIKA
#BSI = UNIVERSITAS BINA SARANA INFORMATIKA
#FKIP = FKIP BAHASA INGGRIS
#FPT = FPT UNIVERSITY
#GCUF = GOVERNMENT COLLEGE UNIVERSITY FAISALABAD
#GIKI = GHULAM ISHAQ KHAN INSTITUTE
#I3L = 	INDONESIA INTERNATIONAL INSTITUTE FOR LIFE SCIENCES
#IAIN = INSTITUT AGAMA ISLAM NEGERI
#IBA = 	UNIVERSITY IBA
#IBBI = SEKOLAH TINGGI ILMU EKONOMI
#IBM = IBM ASMI
#ICBS = IMPERIAL COLLEGE OF BUSINESS STUDIES
#IIEE = IIEE NED UNIVERSITY OF ENGINEERING AND TECHNOLOGY
#IIUM = INTERNATIONAL ISLAMIC UNIVERSITY MALAYSIA 
#INTI = INTI INTERNATIONAL COLLEGE
#IPA = INSTITUTE OF PUBLIC ADMINISTRATION
#IPB = 	INSTITUT PERTANIAN BOGOR
#ITB = BANDUNG INSTITUTE OF TECHNOLOGHY
#ITNY = INSTITUT TEKNOLOGI NASIONAL YOGYAKARTA
#ITS = INSTITUT SEPULUH NOPEMBER
#IUMW = INTERNATIONAL UNIVERSITY OF MALAYAWALES
#KPTM = KOLEJ POLYTECH MARA
#LP31 = LP3I COLLEGE
#LSC = LONDON SCHOOL OF COMMERCE
#LSPR = LONDON SCHOOL OF PUBLIC RELATIONS
#MCHM = MALAYSIAN COLLEGE OF HOSPITALITY AND MANAGEMENT
#MMU = MULTIMEDIA UNIVERSITY
#MSU = MANAGEMENT SCIENCE UNIVERSITY
#NED = NED UNIVERSITY OF ENGINEERING AND TECHNOLOGY
#NTU = NANYANG TECHNOLOGICAL UNIVERSITY
#NUS = NATIONAL UNIVERSITY OF SINGAPORE
#NUST = NATIONAL UNIVERSITY OF SCIENCE AND TECHNOLOGY NUST
#PENS = ELECTRONIC ENGINEERING POLYTECHNIC INSTITUTE OF SURABAYA
#PVU = TRƯỜNG ĐẠI HỌC
#RMIT = ROYAL MELBOURNE INSTITUTE OF TECHNOLOGY
#SEGI = SEGI COLLEGE
#STIA = SEKOLAH TINGGI ILMU ADMINISTRASI
#STIE = SEKOLAH TINGGI ILMU EKONOMI
#SWUC = SOUTHWESTERN CHRISTIAN UNIVERSITY
#UBSI = UNIVERSITAS BINA SARANA INFORMATIKA
#UCSI = UCSI UNIVERISTY
#UEF = ĐẠI HỌC KINH TẾ QUỐC DÂN
#UEH = UNIVERSITY OF ECONOMICS HCMC
#UEL = UNIVERSITY OF EAST LONDON
#UGM = 	GADJAH MADA UNIVERSITY
#UIAM = UNIVERSITI ISLAM ANTARABANGSA MALAYSIA
#UII = UNIVERSITY ISLAM INDONESIA
#UITM = MARA UNIVERSITY OF TECHNOLOGY MALAYSIA
#UKI = 	UNIVERSITY KRISTEN INDONESIA
#UKM = NATIONAL UNIVERSITY OF MALAYSIA
#UM = UNIVERSITY OF MALAYA
#UMJ = UNIVERSITAS MUHAMMADIYAH JAKARTA
#UMM = UNIVERSITY OF MALAYA
#UMP = UNIVERSITY MALAYSIA PAHANG
#UMSU = UNIVERSITY MUHAMMADIYAH SUMATERA UTARA
#UMT = UNIVERSITI MALAYSIA TERENGGANU
#UMY = UNIVERSITY MUHAMMADIYAH YOGYAKARTA
#UNS = SEBELAS MARET UNIVERSITY
#UNSW = UNIVERSITY OF NEW SOUTH WALES
#UNY = UNIVERSITAS NEGERI YOGYAKARTA
#UOL = 	UNIVERSITY OF LONDON
#UPH = PELITA HARAPAN UNIVERSITY
#UPI = UNIVERSITY PENDIDIKAN INDONESIA
#UPM = UNIVERSITY PUTRA MALAYSIA
#UPNM = UNIVERSITI PERTAHANAN NASIONAL MALAYSIA
#USIM = UNIVERSITI SAINS ISLAM MALAYSIA
#USM = UNIVERSITI SAINS MALAYSIA
#USU = UNIVERSITY SUMATERA UTARA
#UTAR = UNIVERSITY TUNKU ABDUL RAHMAN
#UTEM = UNIVERSITI TEKNIKAL MALAYSIA MELAKA
#UTHM = UNIVERSITY TUN HUSSEIN ONN MALAYSIA
#UTM = UNIVERSITY TEKNOLOGI MALAYSIA
#UTP = UNIVERSITI TEKNOLOGI PETRONAS
#UUM = UNIVERSITY UTARA MALAYSIA
#YAI = AKADEMI AKUNTANSI YAI

##Clustering using Sklearn

In [ ]:
!pip install leven

In [ ]:
from leven import levenshtein       
import numpy as np
import sys
from sklearn.cluster import dbscan,DBSCAN
import sklearn

np.set_printoptions(threshold=sys.maxsize)

In [ ]:
sklearn.__version__

In [ ]:
cool = unique_list.values.tolist()

In [ ]:
data = cool
def lev_metric(x, y):
    i, j = int(x[0]), int(y[0])     # extract indices
    return levenshtein(data[i], data[j])

X = np.arange(len(data)).reshape(-1, 1)
cluster=dbscan(X, metric=lev_metric, eps=5, min_samples=3)

In [ ]:
levenshtein("abcd university", "university abcd")

In [ ]:
cluster_list=list(cluster)

In [ ]:
cluster_list[1]

In [ ]:
cluster_df = pd.DataFrame(cluster_list)

In [ ]:
cluster_df

In [ ]:
cluster_df=cluster_df.transpose()

In [ ]:
cluster_df.info()

In [ ]:
combined_df = pd.concat([unique_list, cluster_df], axis=1, join='inner')

In [ ]:
combined_df.columns=['school_name', 'array1', 'array2']

In [ ]:
combined_df.array2.value_counts()

In [ ]:
combined_df.sort_values('array2') #eps 5, min 3

In [ ]:
data = cool
def lev_metric(x, y):
    i, j = int(x[0]), int(y[0])     # extract indices
    return levenshtein(data[i], data[j])

X = np.arange(len(data)).reshape(-1, 1)
cluster=dbscan(X, metric=lev_metric, eps=6, min_samples=2)

In [ ]:
cluster_list=list(cluster)
cluster_df = pd.DataFrame(cluster_list)
cluster_df=cluster_df.transpose()
combined_df2 = pd.concat([unique_list, cluster_df], axis=1, join='inner')
combined_df2.columns=['school_name', 'array1', 'array2']

In [ ]:
combined_df2.sort_values('array2') #eps 6, min 2

##Faster Clustering

In [ ]:
!pip install levenshtein

In [ ]:
import numpy as np
import pandas as pd
import re
from sklearn.cluster import DBSCAN
from scipy.spatial.distance import pdist, squareform
from Levenshtein import distance

In [ ]:
school_names = unique_list.to_numpy()

In [ ]:
school_names=school_names.flatten()

In [ ]:
def setdistance(l1, l2):
  return distance(l1[0], l2[0])

In [ ]:
%%time
distance_matrix = squareform(pdist(school_names.reshape(-1,1), metric=setdistance))
cls = DBSCAN(metric="precomputed", eps=3, min_samples=3)
cls.fit(distance_matrix)
label = pd.DataFrame({"name":school_names, "label":cls.labels_})

In [ ]:
label.sort_values('label')

In [ ]:
#label to look back on
#-1, 0, 3, 10, 11, [1, 13-17], [19,20], [22,23], 27, 42, 43, 48, 49, [73,76], [77,78], 
#81, 82, 86, 87, 88, 89, [90,91], 93, [103-109], [110-114,116-118], [121,122], 123,
#125, [127-138], [142,143], [145-150], [152,153], [154,160,162-169], 161, [170,171]
#[174,175], [176,177], [181-187], [192,193], [194,195], 197, 199, [205,206], 222, 224
#[291,292], 294, [298,299], 318, [321,322], 334, 335, 336,337, 338, 339, 341, 342,
#343, 344, 346, 347, 348, 353, 354, 355, 357, 358, 360, 361, 362, 365, 366, 369

#[1, 13-17] - ATMA JAYA CATHOLIC UNIVERSITY OF INDONESIA
#[19,20] - BANDUNG INSTITUTE OF TECHNOLOGHY
#[22,23] - STATE POLYTECHNIC
#[73,76] - SEPULUH NOVEMBER INSTITUTE OF TECHNOLOGY
#[77,78] - INTERNATIONAL ISLAMIC UNIVERSITY ISLAMABAD
#[90,91] - KOLEJ UNIVERSITY POLYTECH
#[103-109] - MUHAMMADIYAH UNIVERSITY
#[110-114,116-118] - NATIONAL UNIVERSITY OF SCIENCE AND TECHNOLOGY
#[121,122] - PERBANAS INSTITUTE
#[127-138] - STATE POLYTECHNIC
#[142,143] - QUAID E AWAM UNIVERSITY OF ENGINEERING SCIENCES AND TECHNOLOGY
#[145-150] - SEKOLAH TINGGI (remove maybe)
#[152,153] - SEPULUH NOVEMBER INSTITUTE OF TECHNOLOGY
#[154,160,162,169] - SMK/SMA (remove maybe)
#[170,171] - STATE ISLAMIC UNIVERSITY
#[174,175] - Sekolah Tinggi Bahasa (remove, just a language school)
#[176,177] - SEKOLAH TINGGI ILMU EKONOMI
#[181-187] - SEKOLAH TINGGI (remove maybe)
#[192,193] - TRISAKTI INSTITUTE OF TRANSPORTATION AND LOGISTICS
#[194,195] - TUNKU ABDUL RAHMAN UNIVERSITY COLLEGE
#[205,206] - MUHAMMADIYAH UNIVERSITY
#[291,292] - DEVELOPMENT UNIVERSITY OF PANCA BUDI
#[298,299] - PROF DR MOESTOPO UNIVERSITY
#[220,321,322] - MARA UNIVERSITY OF TECHNOLOGY MALAYSIA

##Coding attempts

In [ ]:
school_name_list = school_namedf_na.iloc[:,0].values.tolist()
#unique_list = ['UNIVERSITY OF' if i.startswith('UNIVER')]

school_name_list

In [ ]:
z = []
cool = []
for x in school_name_list:
  z.append(x.split())

for anything in z:
  if len(anything) < 1:
    print(anything)

In [ ]:
for i in range(len(z)):
  if len(z[i]) == 0:
    continue
  
  if z[i][0].endswith('ITAS'):
    cool.append(' '.join(['UNIVERSITY'] + z[i][1:]))
  else:
    cool.append(' '.join(z[i][0:]))
cool

In [ ]:
school_name_list=pd.DataFrame(cool)
school_name_list

In [ ]:
data = cool
def lev_metric(x, y):
    i, j = int(x[0]), int(y[0])     # extract indices
    return levenshtein(data[i], data[j])

X = np.arange(len(data)).reshape(-1, 1)
cluster=dbscan(X, metric=lev_metric, eps=6, min_samples=2)

In [ ]:
cluster_list=list(cluster)
cluster_df = pd.DataFrame(cluster_list)
cluster_df=cluster_df.transpose()
combined_df3 = pd.concat([school_name_list, cluster_df], axis=1, join='inner')
combined_df3.columns=['school_name', 'array1', 'array2']